.costumers-container{
    td{
        width: 200px;
    }
    table {
        thead{
            tr{
                td{
                    width:100px;
                    background-color: red;
                }
            }
        }
        tbody{
            tr{
                
            }
        }
    }
}
