.main-content {
    background-image: url('../assets/images/background/map-of-the-world-2401458_1920.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;

    app-footer{
        position: absolute;
        bottom: 0;
        width: 100vw;
    }
}

.waiting-screen {
    
    h1{
        text-align: center;
        opacity: 0;
    }
}

@keyframes waiting {
    0%{
        transform: translateY(-100%);
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}



