h1 {
    z-index: 10;
   margin: 0px;
   
}

.costumer-card-container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    .details{
        border-right: 1px dashed grey;
        width: 30vw;
    }

    .notes {
        margin-left: 20px;
        width: 55vw;
    }

}

@media screen and (max-width: 600px) {
    .costumer-card-container{
        // padding: 20px;
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        .details{
            border-right: 1px dashed grey;
            width: 100vw;
        }
    
        .notes {
            height: auto;
            // padding: 20px;
            margin-left: 0px;
            width: 80vw;
        }
    
    }
}