<div *ngIf="data" class="costumer-card-container" >
    <div class="details">
        <h1>Costumer Details</h1>
        <p>First Name: {{data.first_name}}</p>
        <p>Last Name: {{data.last_name}}</p>
        <p>Email : <a href="mailto:{{data.email}}">{{data.email}}</a></p>
        <p>Phone Number: {{data.phone}}
            <a href="https://wa.me/{{data.phone}}" target="_blank">w</a>
            <a href="tel:{{data.phone}}">ph</a>
        </p>
        <p>State: {{data.state}}</p>
        <p>Country: {{data.country}}</p>
        <p>City: {{data.city}}</p>
        <p>Street: {{data.street}}</p>
        <p>House Number: {{data.house_number}}</p>
        <p>Zip Code: {{data.zip_code}}</p>
    </div>
    <div class="notes">
        <h1>Notes</h1>
        <p>{{data.notes}}</p>
    </div>
    <div class="edit">
        <a routerLink="/dashboard/costumers/{{from}}/editCostumer/" [queryParams]="data">edit</a>
    </div>
</div>
