<div *ngIf="contactData" class="costumer-card-container" >
    <div class="details">
        <h1>Contact Details</h1>
        <p>First Name: {{contactData.first_name}}</p>
        <p>Last Name: {{contactData.last_name}}</p>
        <p>Email : <a href="mailto:{{contactData.email}}">{{contactData.email}}</a></p>
        <p>Phone Number: {{contactData.phone}}
             <a href="https://wa.me/{{contactData.phone}}"><img class="whatsapp" src="../../../../../assets/images/icons/WhatsApp.svg.png" alt=""></a>
             <a href="tel:{{contactData.phone}}"><img class="phone" src="../../../../../assets/images/icons/molumen_phone_icon.svg" alt=""></a>
        </p>
        <p>Birthday: {{contactData.birthday | date}}</p>
        <p>age: {{contactData.birthday | ageCalc}}</p>     
    </div>
    <div class="notes">
        <h1>Address</h1>
        <p>Country: {{contactData.country}}</p>
        <p>State: {{contactData.state}}</p>
        <p>City: {{contactData.city}}</p>
        <p>Street: {{contactData.street}}</p>
        <p>House Number: {{contactData.house_number}}</p>
        <p>Zip Code: {{contactData.zip_code}}</p>
    </div>
    <div class="edit">
        <a routerLink="/dashboard/contacts/{{from}}/editContact/" [queryParams]="contactData">edit</a>
    </div>
</div>