$backColor: rgba(235, 11, 56, 0.76);
$hover: rgba(59, 6, 16, 0.616);
$textColor: rgba(255, 255, 255);

h1 {
    z-index: 10;
   margin: 0px;
   
}

.costumer-card-container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    // width: 100vw;
    margin-bottom: 100px;
    height: 75vh;
    .details{
        border-right: 1px dashed grey;
        width: 30vw;

        a{
            margin-left: 20px;
            text-decoration: none;
        }
    }

    .notes {
        margin-left: 20px;
        width: 50vw;
    }

    .edit {
        display: flex;
        align-items: flex-start;
        // margin-right: 20px;
        a{
            padding:10px;
            text-decoration: none;
            background-color: $backColor;
        }
    }

}

@media screen and (max-width: 1000px) {
    .costumer-card-container{
        // padding: 20px;
        display: flex;
        flex-direction: row;
        background-color: whitesmoke;
        width: 106%;
        .details{
            border-right: 1px dashed grey;
            // width: 100vw;
        }
    
        .notes {
            height: auto;
            // padding: 20px;
            margin-left: 20px;
            // width: 100vw;
        }
    
    }
}

@media screen and (max-width: 600px) {
    .costumer-card-container{
        // padding: 20px;
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        width: 105%;
        .details{
            border-right: 1px dashed grey;
            width: 100vw;
        }
    
        .notes {
            height: auto;
            // padding: 20px;
            margin-left: 0px;
            width: 100vw;
        }
    
    }
}