<button (click)="openModal($event)" class="ham-menu">
    <img src="../../../../assets/images/icons/ham-menu-icon.svg" alt="">
    
</button>
<div class="modal" *ngIf="show">
    <div class="over-layer">     
    </div>
    <ul>
        <li routerLinkActive="chosen-container"><a routerLink="/dashboard/costumers/table/0">Costumers</a> </li>
        <li routerLinkActive="chosen-container"><a routerLink="/dashboard/contacts/table/0">Contacts</a> </li>
        <li routerLinkActive="chosen-container">
            <a class="add-registry" routerLink="add{{category}}">Add {{category}}</a>
        </li>
    </ul>
</div>