
$backColor: rgba(255, 67, 105, 0.993);
$textColor: rgba(255, 255, 255);

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 94vh;

}