$backColor: rgba(235, 11, 56, 0.616);
$hover: rgba(59, 6, 16, 0.616);
$textColor: rgba(255, 255, 255);

.sidenav {
    border-top: 1px solid rgba(128, 128, 128, 0.541);
    border-right: 1px solid rgba(128, 128, 128, 0.541);
    background-color: $backColor;
    // width: 10vw;
    // height: 20vh;
    text-align: center;
        li{
           list-style: none;
           padding:10px;
            border-bottom: 1px solid rgba(128, 128, 128, 0.541);
           
           a{
            // font-size: calc(1px + 1.5243vw);
            padding: 5px;
            text-decoration: none;
            color:white;
        }
        
        
    
        a:visited{
            color:white;
        }
        
    }
   
}

li:hover {
    background-color: $hover ;
}

@media (max-width: 1000px) {
    .sidenav{
        display: none;
    }
}
