$backColor: rgba(235, 11, 56, 0.616);
$hover: rgba(59, 6, 16, 0.616);
$textColor: rgba(255, 255, 255);

.connections-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    .waiting-container {
        color:whitesmoke;
        text-align: center;
        padding: 50px;
        animation-name: rotate;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        
    }

    @keyframes rotate {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
    }

    margin-bottom: 150px;
    .connections-view-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: whitesmoke;
        border: 1px solid rgba(128, 128, 128, 0.377);
        width: 80vw;
        font-size: calc(8px + 0.5234vw);
        
        span{
            background: none;
            border-radius: 5px;
        }
        .country {
            text-align: center;
            padding: 10px;
            background-image: linear-gradient(to right,transparent ,rgba(128, 128, 128, 0.336),transparent);
        } 
        
        .modal {
            display: none;
        }

        p:nth-child(3){
            display: block;
            
        }

        p:nth-child(3):hover .modal{
            display: flex;
            flex-direction: column;
            a{
                margin-left: 20px;
            }
        }

        .details {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin:0px;
            padding:0px;
            
            border-bottom: 1px solid grey;
            justify-content: space-between;
            a{
               text-decoration: none;
            }
            p:first-child{
                .border {
                    border-bottom: 1px solid grey;
                    border-radius: 0px;
                }
                margin-left: 10px;
            }
            
            p:nth-child(2){
                text-align: start;
                // width: 300px;
            }
            p{
                width: 33%;
                margin-left: 20px;
                background-image: linear-gradient(to right,transparent ,rgba(128, 128, 128, 0.336),transparent);
            }

            // span {
            //     display: none;
                
            // }

            .name {
                display: block;
            }
            p:hover {
                .border {
                    border-bottom:1px solid grey;
                    border-radius: 0px;
                }
                
            }

            p:hover .modal {
                display: flex;
                opacity: 1;
                flex-direction: column;
              
                overflow: hidden;
            }
            button{
                img{
                    height: 20px;
                }
            }

            img{
                height:20px;
            }
            .phone {
                height: 15px;
            }
        }
    }
    
}

@media screen and (max-width: 1000px) {
    .connections-container{
        display: flex;
        justify-content: center;
        .details-wrapper{
            display: flex;
            flex-direction: column;
            
                
                .details {
                    // display: flex;
                    // flex-direction: column;
                    p:hover .modal {
                        display: block;
                        opacity: 1;
                        // flex-direction: column;
                        animation-name: none;
                        }
            }
            .modal {
                // display: block;
            }
        }
    }
    
}

@media screen and (max-width: 600px) {
    .connections-container{
        display: flex;
        justify-content: center;
        .details-wrapper{
            display: flex;
            flex-direction: column;
            
                
                .details {
                    display: flex;
                    flex-direction: column;
                
            }
            .modal {
                display: block;
                animation: none;
           }
           p:hover .modal {
            display: block;
            opacity: 1;
            // flex-direction: column;
            animation-name: none;
            }
        }
    }
   
    
}


