<div class="connections-container">
    <div class="waiting-container" *ngIf="!data" >
         
        <h1> just a moment </h1>

    </div>
    <div class="connections-view-container">
        <div *ngFor="let x of showBy; index as index" class="wrapper">
            <div class="country" >
                {{x}}
            </div>
            <div class="details-wrapper" *ngFor="let i of data; index as index">
            
                <div *ngIf="i.country == x || i.city == x">
                    <div class="details">
                        <p><span class="border">Full Name</span> <span class="name">{{i.first_name}} {{i.last_name}} </span></p>
                        <!-- <p><span>Full Name:</span> </p> -->
                        <p><span class="border">Email</span> <span class="modal"><a href="mailto:{{i.email}}">{{i.email}}</a></span></p>
                        <!-- <p><span>Email: </span></p> -->
                        <p>
                            <span class="border">Phone: </span>
                            <span class="modal">
                                {{i.phone}}    
                                <a href="https://wa.me/{{i.phone}}" target="_blank"><img src="../../../../assets/images/icons/WhatsApp.svg.png" alt=""></a>
                                <a href="tel:{{i.phone}}"><img class="phone" src="../../../../assets/images/icons/molumen_phone_icon.svg" alt=""></a>
                            </span>
                        </p>
                        <button (click)="deleteRegistry(i.id,index)"><img src="../../../../assets/images/icons/trash.svg" alt=""></button>
                    </div>               
                </div>
            </div>
                      
        </div>
        
    </div>
    
</div>

<router-outlet></router-outlet>
