$backColor: rgba(235, 11, 56, 0.616);
$hover: rgba(59, 6, 16, 0.616);
$textColor: rgba(255, 255, 255);

.connections-container {
    
    .waiting-container {
        color:whitesmoke;
        text-align: center;
        padding: 50px;
        animation-name: rotate;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        
    }

    @keyframes rotate {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
    }

    margin-bottom: 150px;
    .connections-view-container{
        display: flex;
        flex-direction: column;
        // grid: auto-flow / 1fr 1fr 1fr;
        background-color: whitesmoke;
        border: 1px solid rgba(128, 128, 128, 0.377);
        width: 80vw;
        
        span{
            background-image: linear-gradient(to right,transparent ,rgba(128, 128, 128, 0.336),transparent);
            border-radius: 5px;
        }
        .country {
            text-align: center;
            padding: 10px;
            background-image: linear-gradient(to right,transparent ,rgba(128, 128, 128, 0.336),transparent);
        } 
        
        .modal {
            display: none;
        }

        p:nth-child(3){
            display: flex;
            flex-direction: row;
        }

        p:nth-child(3):hover .modal{
            display: flex;
            flex-direction: row;
            a{
                margin-left: 20px;
            }
        }

        .details {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin:0px;
            padding:0px;
            height: 30px;
            border-bottom: 1px solid grey;
            justify-content: space-between;
            a{
               text-decoration: none;
            }
            p:first-child{
                margin-left: 10px;
            }
            p:nth-child(2){
                text-align: start;
                // width: 300px;
            }
            p{
                width: 33%;
                margin-left: 20px;
            }
            button{
                img{
                    height: 20px;
                }
            }
        }
    }
    
}

@media screen and (max-width: 1000px) {
    .folder-container{
      
        .costumers-folders-container{
            display: grid;
            grid: auto-flow / 1fr 1fr 1fr ;
            background-color: whitesmoke;
            border: 1px solid rgba(128, 128, 128, 0.377);
            width: 100vw;
        }
    }
    
}

@media screen and (max-width: 600px) {
    .folder-container{
        width: 100%;
        .costumers-folders-container{
            display: grid;
            grid: auto-flow / 1fr 1fr ;
            background-color: whitesmoke;
            border: 1px solid rgba(128, 128, 128, 0.377);
        }
    }
    
}


