.options {
    background-color: whitesmoke;
    // margin-top: 20px;
    padding: 20px;
    // width: 80vw;
    border:1px solid rgba(128, 128, 128, 0.568);
    // border-top-left-radius: 8px;
    // border-top-right-radius: 8px;
    a{
        margin-right: 25px;
        img{
            height: 80px;
        }
    }
}