<div class="signup-form">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <h1>Sign-Up</h1>
        <input autocomplete="email" type="email" placeholder="Email" formControlName="email" name="email">
        <small *ngIf="!signupForm.controls['email'].valid">Please fill email</small>
        <input autocomplete="current-password" type="password" placeholder="Password" formControlName="password">
        <small *ngIf="!signupForm.controls['password'].valid">Pleaase fill in password</small>
        <input [disabled]="!signupForm.controls['password'].valid" autocomplete="current-password" type="password" placeholder="Repeat Password" formControlName="repeatedPassword" name="repeatedPassword">
        <small *ngIf="!signupForm.controls['repeatedPassword'].valid">Passwords does not match</small>
        <p>{{message}}</p>
        <p *ngIf="signupForm.valid">You can signup now</p>
        <button [disabled]="!signupForm.valid"> Signup</button>
    </form>
</div>