/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('./assets/images/background/map-of-the-world-2401458_1920.jpg');
    background-position: center;
    background-size: auto;
    
    // background-repeat: no-repeat;
    margin: 0px;
    box-sizing: border-box;
    // height: 100vh;
    font-size: calc(10px + 0.5433vw);
}

