.dashboard-container {
    display: flex;
    flex-direction: row;
    .side-nav {
        width: 10vw;
        app-sidenav{
            
            margin: 0;
        }
    }
    .content {
        position: relative;
        width: 90vw;
    }
    

    
}