.dashboard-container {
    display: flex;
    flex-direction: row;
    .side-nav {
        
        app-sidenav{
            
            margin: 0;
        }
    }
    .content {
        position: relative;
        width: calc(100vw - 5vw);
    }   
}


@media screen and (max-width: 1000px) {
    .side-nav{
        display: none;
        width: 5vw;
    }

    .content{
        
        width: 100vw;
    }
}