<div class="submenu-container">
    
    <div class="options">
        <app-mini-nav></app-mini-nav>
        <a routerLink="table/0"><img src="../../../../assets/images/icons/table.svg" alt=""></a>
        <a routerLink="folders/0"><img src="../../../../assets/images/icons/folder.svg" alt=""></a>
        
    </div>
    <div class="search ">
            <label for="">Search {{category}}</label>
            <input  type="text" [(ngModel)]="query">
            by
            <select name="" id="" [(ngModel)]="val">
                <option value="first_name">First Name</option>
                <option value="Last_name">Last Name</option>
                <option value="email">Email</option>
                <option value="phone">Phone</option>
                <option value="notes">Notes</option>
            </select>
            <button (click)="search($event)">Go</button>
    </div>
</div>
