$backColor: rgba(235, 11, 56, 0.616);
$hover: rgba(59, 6, 16, 0.616);
$textColor: rgba(255, 255, 255);

.submenu-container{
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: whitesmoke;
    border:1px solid rgba(128, 128, 128, 0.568);
    align-items: center;
    // width:89.9vw;

    app-mini-nav{
        display: none;
    }
    
    .options {
     
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        // margin-top: 20px;
        padding: 20px;
        // width: 80vw;
        .connections{
            height: calc(40px + 2.5324vw);
            
        }

        .modal{
            display: none;
        }

        div:hover{
            position: relative;
            .modal  {
                display: flex;
                flex-direction: row;
                position: absolute;
                
                background-color: red;
            }
        }
        
        // border-top-left-radius: 8px;
        // border-top-right-radius: 8px;
        a{
            margin-right: 25px;
            img{
                height: calc(40px + 2.5324vw);
                
            }
        }
        
        
    }
    .search {
            display: flex;
            align-items: center;
            margin-right: 20px;
            // width: 100%;
            label{
                margin-left: 20px;
                font-size: larger;
                text-align: center;
            }
            input {
                height: 25px;
                margin-left: 20px;
            }
            p{
                margin:2px
            }
            .query-wrapper{
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                select{
                    height: 25px;
                }
    
                button{
                    background-color: transparent;
                    border: 0px ;
                    margin-left: 5px;
                    img{
                        
                        height: 20px;
                    }
       
                }
    
                button:hover {
                    border-radius: 2px;
                    background-color: $backColor;
                }
            }
                
    }
    
}

@media screen and (max-width: 1000px) {
    .submenu-container{

        app-mini-nav{
            display: block;
            position: absolute;
            top: -15px;
            left: -15px;
        }
        display: flex;
        width: 100vw;
        flex-direction: row;
        background-color: whitesmoke;
        border:1px solid rgba(128, 128, 128, 0.568);
        align-items: center;
        .options{
            margin-left: 100px;
        }

        .search{
            input{
                margin-left: 0px;
            }
        }
    }
}



@media screen and (max-width: 940px) {
    .submenu-container{
        display: flex;
        width: 100vw;
        flex-direction: column;
        background-color: whitesmoke;
        border:1px solid rgba(128, 128, 128, 0.568);
        align-items: center;

        .options{
            margin-left: 60px;
        }

        .search{
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            button {
                margin:0px;
                margin-top:0px ;

            }
        }
    }
}


@media screen and (max-width: 320px) {
    .submenu-container{
        display: flex;
        width: 100vw;
        flex-direction: column;
        background-color: whitesmoke;
        border:1px solid rgba(128, 128, 128, 0.568);
        align-items: center;

        .options{
            margin-left: 60px;
            a{
                img{
                    height:35px;
                }
            }
        }

        .search{
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            button {
                margin:0px;
                margin-top:0px ;

            }
        }
    }
}