<nav class="navbar">
    <div class="left-side">
        <ul>
            <li>
                Logo
            </li>
            <li *ngIf="!isLogged">
                <a routerLink="about">About</a>    
            </li>
        </ul>
    </div>
    <div class="right-side">
        <ul *ngIf="!isLogged">
            <li routerLinkActive="chosen-container">
                <a routerLink="login">Login</a>    
            </li>
            <li>
                <a routerLink="signup">Signup</a> 
            </li>
        </ul>
        <ul *ngIf="isLogged">
            <li><button (click)="logout()">Logout</button></li>
        </ul>
    </div>
   
</nav>