$backColor: rgba(235, 11, 56, 0.616);
$hover: rgba(59, 6, 16, 0.616);
$textColor: rgba(255, 255, 255);

.navbar {
    color:$textColor;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $backColor;
    flex-wrap: wrap;
    .s-about{
        display: none;
    }
    ul {
        margin:0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        text-decoration: none;
        list-style-type: none;
        align-items: center;
        
        
        
        li {
            padding: 20px;
            img {
                height: calc(19px + 0.5132vw);
            }
            a{
                color: $textColor;
                cursor: pointer;
                text-decoration: none;
            }

            a:visited {
                color: $textColor;
                text-decoration: none;
            }
        }
        .chosen-container {
            background-color: $hover;
        }

        li:hover {
            background-color: $hover ;
        }
        button{
            background-color: transparent;
            border: 0px;
            color: $textColor;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 450px) {
    
    

   

    .navbar{
        
        .b-about {
            display: none;
        }
        .left-side{
            display: flex;
            justify-content: center;
                width: 100vw;
            ul:first-child{
                
                li:first-child{
                    display: inline;
                }
                // li:last-child{
                //     display: none;
                // }
            }
        }
        
        .right-side{
            display: flex;
            justify-content: center;
            width: 100vw;
            ul:last-child{
                
                // display: flex;
                li:last-child{
                    display: block;
                }
            }
        }
        
    }
    
}