$backColor: rgba(255, 67, 105, 0.993);
$textColor: rgba(255, 255, 255);

form {
    color: $textColor;
    border-radius: 8px;
    background-color: $backColor;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 600px;
    border: 1px solid rgba(128, 128, 128, 0.274);
    h1 {
        text-align: center;
    }
    a{
        color: $textColor;
    }

    a:visited {
        color: $textColor;
    }
    input {
        background-color: transparent;
        padding:5px;
        margin: 20px;
        border: 0px solid;
        border-bottom: 1px solid rgb(0, 0, 0);
        color: $textColor;
    }

    button {
        color: $textColor;
        cursor: pointer;
        background-color: transparent;
        border: 0px;
        text-align: center;
    }

    input::placeholder {
        color: $textColor ;
    }

    p{
        margin:20px
    }

    small{
        margin-left: 20px;
    }
    button{
        margin:20px
    }

    
}